<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.pill.mapper.FlowerAllOrderMapper">
    
    <resultMap type="FlowerAllOrder" id="FlowerAllOrderResult">
        <result property="orderId"    column="order_id"    />
        <result property="userId"    column="user_id"    />
        <result property="userName"    column="user_name"    />
        <result property="flowerId"    column="flower_id"    />
        <result property="flowerName"    column="flower_name"    />
        <result property="flowerCode"    column="flower_code"    />
        <result property="quantity"    column="quantity"    />
        <result property="totalPrice"    column="total_price"    />
        <result property="status"    column="status"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectFlowerAllOrderVo">
        select o.order_id, o.user_id, u.user_name, o.flower_id, f.flower_name, f.flower_code, o.quantity, o.total_price, o.status, o.create_time, o.update_time
        from flower_order o
        left join flower f on o.flower_id = f.flower_id
        left join sys_user u on o.user_id = u.user_id
    </sql>

    <select id="selectFlowerAllOrderList" parameterType="FlowerAllOrder" resultMap="FlowerAllOrderResult">
        <include refid="selectFlowerAllOrderVo"/>
        <where>  
            <if test="userId != null"> and o.user_id = #{userId}</if>
            <if test="userName != null  and userName != ''"> and u.user_name like concat('%', #{userName}, '%')</if>
            <if test="flowerId != null"> and o.flower_id = #{flowerId}</if>
            <if test="flowerName != null  and flowerName != ''"> and f.flower_name like concat('%', #{flowerName}, '%')</if>
            <if test="status != null  and status != ''"> and o.status = #{status}</if>
        </where>
        order by o.create_time desc
    </select>
</mapper>

