<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.pill.mapper.FlowerDashboardMapper">
    
    <resultMap type="FlowerDashboardVo" id="FlowerDashboardVoResult">
        <result property="totalFlowers"    column="total_flowers"    />
        <result property="todayOrders"    column="today_orders"    />
        <result property="lowInventory"    column="low_inventory"    />
        <result property="totalSales"    column="total_sales"    />
        <result property="totalInventory"    column="total_inventory"    />
    </resultMap>

    <select id="selectStatistics" resultMap="FlowerDashboardVoResult">
        select 
            (select count(*) from flower where status = '0') as total_flowers,
            (select count(*) from flower_order where date(create_time) = curdate()) as today_orders,
            (select count(*) from flower where num &lt; warn_value and status = '0') as low_inventory,
            (select ifnull(sum(total_price), 0) from flower_order where status != 'CANCELLED') as total_sales,
            (select ifnull(sum(num), 0) from flower where status = '0') as total_inventory
    </select>
</mapper>

