<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.pill.mapper.FlowerMapper">
    
    <resultMap type="Flower" id="FlowerResult">
        <result property="flowerId"    column="flower_id"    />
        <result property="flowerName"    column="flower_name"    />
        <result property="flowerCode"    column="flower_code"    />
        <result property="flowerType"    column="flower_type"    />
        <result property="color"    column="color"    />
        <result property="floweringPeriod"    column="flowering_period"    />
        <result property="price"    column="price"    />
        <result property="num"    column="num"    />
        <result property="warnValue"    column="warn_value"    />
        <result property="unit"    column="unit"    />
        <result property="image"    column="image"    />
        <result property="status"    column="status"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
    </resultMap>

    <sql id="selectFlowerVo">
        select flower_id, flower_name, flower_code, flower_type, color, flowering_period, price, num, warn_value, unit, image, status, create_by, create_time, update_by, update_time, remark from flower
    </sql>

    <select id="selectFlowerList" parameterType="Flower" resultMap="FlowerResult">
        <include refid="selectFlowerVo"/>
        <where>  
            <if test="flowerName != null  and flowerName != ''"> and flower_name like concat('%', #{flowerName}, '%')</if>
            <if test="flowerCode != null  and flowerCode != ''"> and flower_code = #{flowerCode}</if>
            <if test="flowerType != null  and flowerType != ''"> and flower_type = #{flowerType}</if>
            <if test="color != null  and color != ''"> and color like concat('%', #{color}, '%')</if>
            <if test="status != null  and status != ''"> and status = #{status}</if>
        </where>
    </select>
    
    <select id="selectFlowerByFlowerId" parameterType="Long" resultMap="FlowerResult">
        <include refid="selectFlowerVo"/>
        where flower_id = #{flowerId}
    </select>

    <select id="selectFlowerByFlowerCode" parameterType="String" resultMap="FlowerResult">
        <include refid="selectFlowerVo"/>
        where flower_code = #{flowerCode}
    </select>

    <select id="selectLowInventoryFlowers" resultMap="FlowerResult">
        <include refid="selectFlowerVo"/>
        where num &lt; warn_value and status = '0'
    </select>

    <insert id="insertFlower" parameterType="Flower" useGeneratedKeys="true" keyProperty="flowerId">
        insert into flower
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="flowerName != null and flowerName != ''">flower_name,</if>
            <if test="flowerCode != null and flowerCode != ''">flower_code,</if>
            <if test="flowerType != null">flower_type,</if>
            <if test="color != null">color,</if>
            <if test="floweringPeriod != null">flowering_period,</if>
            <if test="price != null">price,</if>
            <if test="num != null">num,</if>
            <if test="warnValue != null">warn_value,</if>
            <if test="unit != null">unit,</if>
            <if test="image != null">image,</if>
            <if test="status != null">status,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="remark != null">remark,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="flowerName != null and flowerName != ''">#{flowerName},</if>
            <if test="flowerCode != null and flowerCode != ''">#{flowerCode},</if>
            <if test="flowerType != null">#{flowerType},</if>
            <if test="color != null">#{color},</if>
            <if test="floweringPeriod != null">#{floweringPeriod},</if>
            <if test="price != null">#{price},</if>
            <if test="num != null">#{num},</if>
            <if test="warnValue != null">#{warnValue},</if>
            <if test="unit != null">#{unit},</if>
            <if test="image != null">#{image},</if>
            <if test="status != null">#{status},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null">#{remark},</if>
         </trim>
    </insert>

    <update id="updateFlower" parameterType="Flower">
        update flower
        <trim prefix="SET" suffixOverrides=",">
            <if test="flowerName != null and flowerName != ''">flower_name = #{flowerName},</if>
            <if test="flowerCode != null and flowerCode != ''">flower_code = #{flowerCode},</if>
            <if test="flowerType != null">flower_type = #{flowerType},</if>
            <if test="color != null">color = #{color},</if>
            <if test="floweringPeriod != null">flowering_period = #{floweringPeriod},</if>
            <if test="price != null">price = #{price},</if>
            <if test="num != null">num = #{num},</if>
            <if test="warnValue != null">warn_value = #{warnValue},</if>
            <if test="unit != null">unit = #{unit},</if>
            <if test="image != null">image = #{image},</if>
            <if test="status != null">status = #{status},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where flower_id = #{flowerId}
    </update>

    <update id="updateFlowerNum" parameterType="map">
        update flower
        set num = num + #{quantity}
        where flower_id = #{flowerId}
    </update>

    <delete id="deleteFlowerByFlowerId" parameterType="Long">
        delete from flower where flower_id = #{flowerId}
    </delete>

    <delete id="deleteFlowerByFlowerIds" parameterType="String">
        delete from flower where flower_id in 
        <foreach item="flowerId" collection="array" open="(" separator="," close=")">
            #{flowerId}
        </foreach>
    </delete>
</mapper>

