@import "~element-ui/lib/theme-chalk/index.css";

html,
body,
#app {
  margin: 0;
  padding: 0;
  height: 100%;
}

.filter-container {
  margin-bottom: 20px;
}

.table-operations {
  margin-bottom: 10px;
}


